.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 450px;
    background: rgb(131,58,180); background: linear-gradient(90deg, rgba(137, 10, 240, 0.589) 0%, rgba(12, 60, 192, 0.575) 50%, rgba(122, 13, 212, 0.562) 100%);

  }
  
  .logo img {
    height: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 69px;
    text-align: left;
    padding-right: 75px;
    font-size: 25px; 
    font-weight: bold;
  }

.container {
    display: flex;
    margin-top: 35px;
    flex-direction: row;
    gap: 2rem;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    background: rgba(131, 58, 180, 0.253); background: linear-gradient(90deg, rgba(137, 10, 240, 0.219) 0%, rgba(12, 60, 192, 0.219) 50%, rgba(122, 13, 212, 0.164) 100%)
}

.image {
    margin-right: 20px;
}

.text {
    font-size: 18px;
}

.container text {
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    margin-right: 10px;
    width: 100%;
}

.logo h2 {
    font-size: 45px;
    font-weight: bold;
    padding-left: 25px;
    letter-spacing: 3px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.image {
    margin-right: 20px;
}

.text {
    font-size: 18px;
}